body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;

}
.navbar{
    background: #004773;
    font-family: Arial;
    height: 70px;
    padding: 8px 10px ;
    width: 100%;
}

div img{
    margin-top: -17px;
    margin-left: -30px;
    margin-right: 5rem;
}

.navbar ul{

    width: 100%;
    list-style-type: none;
    margin: -3px;
    padding: 15px;
    display: inline-flex;



}




.navbar ul li{
    /*margin: 5px;*/
    padding-left: 50px;
    padding-right: 10px;
    background: transparent;
    margin-top: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    /*font-family: Arial;*/
    /*height: 100%;*/
    display: inline-block;
    text-align: center;
    /*height: 70px;*/
    padding: 20px 10px 10px 15px;

}

.navbar ul li a:hover{
    /*background: #006796;*/
    color: #c8c8c8;

}


.lcl-box {
    align-items: center;
    margin-top: 35px;
    margin-left: 25px;
}


.lcl-box a {
    background: #004773;
    font-family: Arial;
    height: 235px;
    padding: 8px 10px ;
    width: 30%;
    align-self: center;
    margin-left: 27rem;
    border-radius: 5px;

}

.lcl-box a{
    padding: 25px;
    text-align: center;
    margin: 0;
    border-radius: 3px;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

/*.lcl-box a{*/
    /*color: white;*/
    /*font-family: Arial;*/
    /*text-decoration: none;*/

/*}*/








.footer {
    color: #005f81;

    background: #bfbfbf;
    width: 100%;
    height: 50px;
    bottom: 0;
    align-self: flex-end;
    margin-top: 20px;


}

.footer a{
    display: inline-block;
    margin-top: -25rem;
    margin-left: 75px;
    font-family: Arial;

}


.icon-social{
    display:inline-block;
    /*align-self: right;*/
    margin-left:125px;
    height: 40px;
    margin-top: 28px;


}


div iframe{
    margin-left: 25rem;
    display: inline-block;

}
div h2{
    text-align: center;

    color: #004773;
}